:root {
  --window_height: 698px;
  --window_width: 1198px;
}

body {
  padding: 1px;
  background: #2d2d2d;
  color: white;
}

.heading {
  text-align: center;
}

#mainLeft {
  width: 100px;
  float: left;
  padding: 10px;
  height: var(--window_height);
  border: gray 1px solid;
  margin-right: 50px;
}

#mainRight {
  float:left;
  border: gray 1px solid;
  height: var(--window_height);
  width: 950px;
  padding: 10px;
}

