<div class="container">
    <div id="mainLeft">
        <app-panel 
        [id]="'Dane_panel'"
        [label]="'Dane'"
        [active]="false"
        [state]="outcomes.Dane"
        [parent_state]="current_state"
        (myEvent)="change_state($event)">
        </app-panel>
        <app-panel 
        [id]="'Led_panel'"
        [label]="'Led'"
        [active]="false"
        [state]="outcomes.Led"
        [parent_state]="current_state"
        (myEvent)="change_state($event)">
        </app-panel>
        <app-panel 
        [id]="'Table_panel'"
        [label]="'Table'"
        [active]="false"
        [state]="outcomes.Table"
        [parent_state]="current_state"
        (myEvent)="change_state($event)">
        </app-panel>
        <app-panel 
        [id]="'Settings_panel'"
        [label]="'Settings'"
        [active]="false"
        [state]="outcomes.Settings"
        [parent_state]="current_state"
        (myEvent)="change_state($event)">
        </app-panel>
    </div>
    <div id="mainRight">
        {{current_state}}
    </div>
  </div>